---
import type { GetStaticPaths } from "astro";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import StoryblokCard from "@/components/StoryblokCard.astro";
import StoryblokPagination from "@/components/StoryblokPagination.astro";
import { getStoryblokPosts, sortStoryblokPosts } from "@/utils/getStoryblokPosts";
import { SITE } from "@/config";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getStoryblokPosts();
  const sortedPosts = sortStoryblokPosts(posts);
  return paginate(sortedPosts, { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
    <ul>
      {page.data.map((post) => <StoryblokCard post={post} />)}
    </ul>
  </Main>

  <StoryblokPagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
